body{
  background-color: rgb(248, 239, 239);
}

.header {
  text-align: center;
  background: #4b56f0;
  color: rgb(228, 225, 225);
  border-radius: 5px;
}



  body{ 
  text-align: center;
  }

  label{
    margin: 20px;
    font-size: 20px;
    cursor: pointer;

  }

  .head{
    margin: 10px;
  }


  label:hover{
    color: #0E75FF;
  }

  .btn {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  }

  
  
  .but:hover {
    background-color: blue;
    color: white;
  }
  .hidden {
    
    border: 2px black solid;
    /* //display: none; */
    background-color: rgb(240, 13, 13);
    /* color: #e71f1f; */
    font-size: 0;

  }

  .hidden:hover{
    opacity: 70%;
  }

  

  .hit{
    opacity: 50%;
    font-size: 30px;
  }

  td{
    z-index: 100;
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-size: 30px;
    border-radius: 10px;
  }



  table{
    text-align: center;
    margin: 0 auto;
  }

  .pressed{
    background-color: blue;
  }
  
  .notpressed{
    background-color: rgb(126, 126, 141)
  }
  
  .shown {
    z-index: 100;
    /* pointer-events: none; */
    background-color: #4b56f0;
    /* opacity: 100%; */
    border: 2px black solid;
    font-size: 20px;

  }
  .hidden {
    
    border: 2px black solid;
    /* //display: none; */
    background-color: rgb(240, 13, 13);
    /* color: #e71f1f; */
    font-size: 0;

  }

  .minescount{
    /* background-color: #e71f1f; */
    display: inline-block;
    width: 50px;
    font-size: 20px;
    
  }

  .light{
    background-color: yellowgreen;
  }

  .stoper{
    display: inline-block;
    width: 50px;
  }

  .lives{
    display: inline-block;
    width: 50px;
    font-size: 20px;

  }

  .smile{
    cursor: pointer;
    /* display: inline-block; */
    margin: 0 auto;
    width: 50px;
    font-size: 50px;
  }



 

  